.projects{
    display: flex;
    flex-direction: column;
    gap: 50px;    
}

.project-title{
    position: relative;
    align-self: center;
}

.project-title h1{
    padding: 0px 30px;
    font-size: 75px;
    font-weight: 500;  
}

.project-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    height: 50px;
}